.show-modal {
  display: block !important;
}
.fade.in{opacity:1;-webkit-backface-visibility: hidden;}

option {
  width: 100%;
}
#modal-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  #modal-overlay #modal {
    max-width: 800px;
    width: 100%;
    background: white;  
    display: flex;
    flex-direction: column;
    padding:10px;
    z-index: 99;
  }
  
  #modal-overlay #modal .modal-footer {
    margin-top: auto;
  }

  #modal-overlay2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
  }
  #modal-overlay2 #modal {
    max-width: 800px;
    width: 100%;
    background: white;  
    display: flex;
    flex-direction: column;
    padding:10px;
    z-index: 99;
  }
  
  #modal-overlay2 #modal .modal-footer {
    margin-top: auto;
  }

  modal-content {
    color: black;
  }
  .modal-footer .form-button {
    width: 100%;
    text-align: center;
  }
  .register-buttons {
    display: inline-block;
    padding: 10px 100px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #002512;
    border: 1px solid #002512;
    border-radius: 6px;
    outline: none;
    text-transform: capitalize;
    font-size: 15px;
  }
  .register-buttons:hover  {
    color: #002512;
    background-color: #FFC533;
    border: none;
  }