@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.contact {
    background-color: #002512;
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    /* border: 3px solid #fff; */
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

  
/* Slider */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* services */
.greenFarm {
    background-color: #8CC63F;
    color: #002512;
}

.greenKart {
    background-color: #002512;
    color: #fff;
}

/* about */

.sli {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    overflow-x: auto;
}
.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* banner */

.mobile-menu {
    margin-top: 20px;
  }
  
  .secondary-cta {
    display: none;
  }
  
  .p-cta {
    font-size: 30px;
    font-weight: 700;
  }
  
  .logo {
    display: none;
  }
  
  .call2action {
    display: none;
  }
  
  .nav-list.menu-btn {
    display: block;
  }
  
  .nav-list {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    height: 100vh;
  }
  
  #mobile-exit {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 40px;
    font-weight: 100;
    color: #272a31;
    margin-left: 20px;
  }
  
  .hero-section {
    /* margin-bottom: 60px; */
    height: 100vh;
  }
  
  .headline-img {
    background-image: url(./assets/img/01.jpg);
    /* opacity: 0.2; */
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .intro {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ec5242;
  }

  @media only screen and (min-width: 768px) {
    footer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 15px 25px 15px 25px;
      background-color: #303030;
      color: #fff;
    }
  
    .hero-section {
      margin-bottom: 0;
    }
  
    .logo {
      display: flex;
      margin-bottom: 0;
      font-size: 25px;
      font-weight: 700;
    }
  
    nav {
      display: flex;
      align-items: center;
    }
  
    .secondary-cta {
      display: flex;
      background: #303030;
      padding: 10px 0 10px 0;
    }
  
    .second-cta {
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      justify-content: right;
    }
  
    .s-list {
      margin-right: 30px;
    }
  
    header {
      background: #fff;
    }
  
    .p-cta {
      font-size: 15px;
      font-weight: 500;
      margin-left: 30px;
    }
  
    a {
      color: rgb(51, 51, 51) !important;
    }
  
    .secondary-cta ul li a {
      color: #fff !important;
    }
  
    ul li.p-cta.call2action a {
      color: #fff !important;
    }
  
    .nav-list > ul li a:hover,
    .nav-list > ul li a:active {
      font-weight: 600;
      color: #ec5242 !important;
    }
  
    .nav-list ul li.p-cta.call2action a:hover {
      background: #fff;
      color: #ec5242 !important;
    }
  
    .mobile-menu {
      display: none;
    }
  
    #more {
      display: flex !important;
    }
  
    ul {
      margin-top: unset !important;
    }
  
    .nav-list {
      display: flex;
      width: 100%;
      background: unset;
      height: 10vh;
      position: unset;
      align-items: center;
      justify-content: flex-end;
    }
  
    .nav-list ul {
      display: flex;
      margin-bottom: 0 !important;
      padding-left: 0 !important;
      align-items: center;
    }
  
    .call2action {
      display: flex;
      background: #ec5242;
      padding: 10px;
    }
  
    #mobile-exit {
      display: none;
    }
  
    .intro {
      font-size: 30px;
    }
  
    .headline {
      margin-top: 100px;
    }
  
    .title {
      font-size: 50px;
      width: 80%;
    }
  
    .discription {
      width: 80%;
    }
  
    .col-8 {
      width: 155.666667%;
      padding-left: 20px;
    }
  
    .main-program {
      height: 479px !important;
    }
  
    .grid {
      display: flex;
      flex-direction: row !important;
    }
  
    .card-title {
      display: block;
    }
  
    .col-6 {
      width: 100% !important;
    }
  
    .t1 {
      margin: 0;
    }
  
    .program-bg {
      min-height: 55%;
      height: 494px;
    }
  
    .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-auto-rows: minmax(100px, auto);
      justify-items: stretch;
      align-items: stretch;
    }
  
    .card {
      text-align: center;
      display: block;
      flex-direction: column !important;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      margin-right: 10px;
    }
  
    .start-learning {
      display: none;
    }
  
    .whole-program {
      display: block;
      color: #fff !important;
      text-decoration: underline !important;
      font-weight: 600;
      text-align: center;
    }
  
    .read-button {
      display: none;
    }
  
    .partner-imgs {
      text-align: center;
    }
  
    .partner-imgs .absa {
      width: 85px;
    }
  
    .partner-imgs .vodacom {
      width: 85px;
    }
  
    .partner-imgs .google {
      width: 255px;
    }
  
    .partner-imgs .micro {
      width: 255px;
    }
  
    .partner-imgs .aws {
      width: 85px;
    }
  
    .partner {
      margin-top: 30px;
    }
  
    .social {
      color: #fff;
    }
  }