
.phonedesc-text{
    padding: 2rem 1rem;
    width: auto;
    margin: auto;
}

.reveal {
    width: 25ch;
    font-weight: 700;
    color: #326B01;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .reveal.active {
    animation: typing 2s steps(31, end);
    background-color: transparent;
  }
/* .phonedesc-text h6.active {
    width: 25ch;
    font-weight: 700;
    color: #326B01;
    white-space: nowrap;
    overflow: hidden;
    
} */

@-webkit-keyframes typing {
    from {
        width: 0;
    }
}


